name: CI

on:
    push:
        branches: [ main ]

env:
    IMAGE_NAME: snapdock

jobs:
    build:
        name: Build & Publish
    
        runs-on: ubuntu-latest
        timeout-minutes: 10
    
        permissions:
            packages: write
            contents: read
        steps:
          - name: Checkout
            uses: actions/checkout@v3
          
          - name: Log in to Registry
            run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

          - name: Set lowercase owner
            run: echo "OWNER=$(echo '${{ github.repository_owner }}' | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV

          - name: Set up QEMU
            uses: docker/setup-qemu-action@v2
            with:
              platforms: 'linux/amd64,linux/arm64'

          - name: Set up Docker Buildx
            uses: docker/setup-buildx-action@v2

          - name: Build and push
            id: docker_build
            uses: docker/build-push-action@v4
            with:
              context: .
              push: true
              platforms: linux/amd64,linux/arm64
              tags: |
                ghcr.io/${{ env.OWNER }}/${{ env.IMAGE_NAME }}:${{ github.sha }}
                ghcr.io/${{ env.OWNER }}/${{ env.IMAGE_NAME }}:latest
          
          - name: Image digest
            run: echo ${{ steps.docker_build.outputs.digest }}
